<!---If it is a jpeg then you need to use single quotes-->
<center><%= image_tag 'BurneyGig.png' %></center>

<h3 class="colorstylemarginhomepage">Olde School Band is a group from Redding, California that plays the best music from the sixties through the eighties and beyond. The band started in 2004 through their connections to Mountain View Middle School and has been entertaining audiences in the area since then. All the members of the band were teachers or spouses of teachers, hence the name.</h3>
<br>
<h3 class="colorstylemarginhomepage">All five members of the band sing creating a variety of genres from soul to rockabilly and everything in between. Liz offers sax and flute solos that add that special feel in addition to Brian's guitar solos. Fred's smooth voice and harmonies can be mellow or move you to the dance floor. His bass does so much more than "fill the bottom in." Peter on drums and Charlie on rhythm guitar provide that foundation for the sound. Check out the “Songs” page to get a feel for some of the styles and sounds.</h3>
<br>
<h3 class="colorstylemarginhomepage">Look for the band at your favorite “watering hole” or community event in your area and listen to the sounds from the Rolling Stones, Beatles, Eagles, Clapton, CCR, Temptations, Wilson Pickett, Bob Seger, and numerous other artists. We look forward to seeing you there!</h3>
