<h1 class="colorstyleh1">Create a Blog</h1>

<%= form_for @blog do |form| %>
   <%= render "shared/error_messages", :object => @blog %>
   <%= render "shared/blog_form", :object => form %>
   </td>
   <%= render "shared/blog_footer" %>
<% end %>
