<h1 class="colorstyleh1">Sign-up</h1>
<br>
<%= form_for @groupee do |form| %>
   <%= render "shared/error_messages", :object => @groupee %>
   <%= render "shared/groupee_form", :object => form %>
   </td>
   <%= render "shared/groupee_footer" %>   
<% end %>
